@charset "utf-8";

/* #board {
    
} */
#board #search-area{
    margin: 0px 0px 10px 0px;
}

#board #search-area form{
    float: right;
}

#board #search-area form input[type="text"]{
    width: 150px;
    height: 25px;
}

#board #search-area form button{
    padding: 3px 5px 3px 5px;
}

/* 게시판 리스트 */
#board table{
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    text-align: center;
}

#board table>thead>tr>th{
    background-color: #dddddd;
}

#board table>tbody>tr{
border-top: 1px dotted #808080;
}

#board table>thead>tr>th, #board table>tbody>tr>td{
    padding: 8px 5px 8px 5px;
}

#board #pager ol{
    width: 132px;
    margin: 0 auto;
}

#board #pager>ol>li{
    float: left;
    margin: 5px 2px 0px 0px;
}

#board #pager>ol>li>a.active{
    font-size: 13px;
    font-weight: bold;
    color: #00f;
}

#board #pager #btn-writer{
    float: right;
    border: 1px solid #808080;
    background-color: #ebebeb;
    padding: 3px 5px 3px 5px;
    margin: 2px 0px 0px 0px;
    border-radius: 2px;
}