@charset "utf-8";



/********** 컨텐츠 *********/
#content #porefile-img {
    margin: 0px 20px 0px 0px;
    width: 300px;
    float: left;
}

#content #greetings{
    float: left;
}

#content #greetings #greet {
    margin: 0px 0px 40px 0px;
    font-size: 20px;
    font-weight: bold;
}

#content #greetings #desc{
    font-size: 15px;
}