<!DOCTYPE html>

<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>Mysite0</title>

        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/login.css">

    </head>

    <body>
        <div id="wrap">

            <!-- 해더영역 -->
            <div id="header-longin" class="clearfix">
                <!-- 사이트로고 -->
                <h1><a href="../main/main.html">Mysite</a></h1>
                
            </div>
            <!-- //해더영역 -->
        </div>

        <!--폼-->
        <from action="" method="get">
            <div>
                
                <input type="text" name="" value="" placeholder="아이디">

                <input type="password" name="" value="" placeholder="비밀번호">
            </div>

        </from>
        <!--//폼-->

        <!--푸터-->
        <div id="footer">
            <p>copyright ©2021 김태희. All right reseved</p>
        </div>
        <!--//푸터-->
    </body>

</html>